In [1]:
import pandas as pd

In [43]:
# Read the HTML file
data = pd.read_html('../data/bullma_portfolio_2024-09-15.html')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])

# Elimino las columnas 'Unnamed: 0', 'Unnamed: 12', Costo y Total Costo
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 12', 'Costo', 'Total Costo','Gan-Per %', 'Gan.-Per $','Var % Diaria','Var $ Diaria'])

# corrijo la cantidad
df['Cantidad'] = df['Cantidad'].str.replace(',', '')
df = df.loc[df['Cantidad'].str.isnumeric()]
df['Cantidad'] = df['Cantidad'].astype(int)
df['Cantidad'] = df['Cantidad'] / 100

# convierto el ultimo precio en float
columns_ars = ['Ultimo Precio', 'PPC', 'Total']

for column in columns_ars:
    df[column] = df[column].str.replace('ARS', '').str.replace('.', '').str.replace('.', '').str.replace(',', '.').astype(float)

# Convierto la columna "Producto" en una lista separada por *
df['Producto'] = df['Producto'].str.split('*')
df['Ticket'] = df['Producto'].apply(lambda x: x[0]).str.strip()
df['Nombre'] = df['Producto'].apply(lambda x: x[1]).str.strip()

df = df.drop(columns=['Producto'])

# Reordeno el orden de las columnas: Ticket, Nombre, Cantidad, Ultimo Precio, PPC, Total
df = df[['Ticket', 'Nombre', 'Cantidad', 'Ultimo Precio', 'PPC', 'Total']]



df.to_csv('../data/bullma_portfolio_2024-09-15.csv', index=False)

In [3]:
# Read the HTML file
data = pd.read_html('../data/bronze/bullma_portfolio_2024-09-29.html')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])

df

,Unnamed: 0,Producto,Cantidad,Ultimo Precio,Var % Diaria,Var $ Diaria,PPC,Gan-Per %,Gan.-Per $,Total,Costo,Total Costo,Unnamed: 12
0,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,"ARS 1.222.372,50","ARS 1.222.372,50","ARS 1.222.372,50",NaN,NaN
1,NaN,AUSO * AUTOPISTA DEL SOL,7000,"ARS 2.975,00","0,85%","ARS 1.750,00","ARS 3.016,36","-1,37%","ARS -2.895,48","ARS 208.250,00",NaN,NaN,NaN
2,NaN,CEPU * CENTRAL PUERTO,5900,"ARS 1.210,00","1,26%","ARS 885,00","ARS 1.193,09","1,42%","ARS 997,42","ARS 71.390,00",NaN,NaN,NaN
3,NaN,DGCU2 * DISTRIB DE GAS CUYANA,10200,"ARS 1.320,00","-0,38%","ARS -510,00","ARS 1.315,49","0,34%","ARS 459,87","ARS 134.640,00",NaN,NaN,NaN
4,NaN,FIPL * FIPLASTO,43500,"ARS 323,50","0,62%","ARS 870,00","ARS 329,76","-1,90%","ARS -2.724,70","ARS 140.722,50",NaN,NaN,NaN
5,NaN,GGAL * GRUPO FINANCIERO GALICIA,2800,"ARS 5.370,00","1,32%","ARS 1.960,00","ARS 4.544,68","18,16%","ARS 23.109,05","ARS 150.360,00",NaN,NaN,NaN
6,NaN,MIRG * MIRGOR,700,"ARS 20.450,00","0,12%","ARS 175,00","ARS 19.029,04","7,47%","ARS 9.946,69","ARS 143.150,00",NaN,NaN,NaN
7,NaN,PAMP * PAMPA ENERGIA,4900,"ARS 2.890,00","1,23%","ARS 1.715,00","ARS 2.557,30","13,01%","ARS 16.302,23","ARS 141.610,00",NaN,NaN,NaN
8,NaN,TECO2 * TELECOM ARGENTINA,7100,"ARS 1.920,00","0,52%","ARS 710,00","ARS 1.872,42","2,54%","ARS 3.378,51","ARS 136.320,00",NaN,NaN,NaN
9,NaN,TRAN * TRANSENER,5300,"ARS 1.810,00","4,93%","ARS 4.505,00","ARS 1.723,27","5,03%","ARS 4.596,48","ARS 95.930,00",NaN,NaN,NaN
10,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,"ARS 149.260,00","ARS 149.260,00","ARS 149.260,00",NaN,NaN
11,NaN,PAAS * CEDEAR PAN AMERICAN SILVER CORP,1700,"ARS 8.780,00","-4,15%","ARS -6.460,00","ARS 8.631,77","1,72%","ARS 2.519,86","ARS 149.260,00",NaN,NaN,NaN
12,Total Var. $,Total Var. $,Total Var. $,Total Var. $,NaN,"ARS 5.600,00",NaN,NaN,"ARS 55.689,93",NaN,NaN,NaN,NaN