In [1]:
import pandas as pd

In [36]:
data = pd.read_html('../data/bronze/iol_portfolio_2024-09-29.html', encoding='utf-8')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])

df = df[["Activo", "Cantidad", "Último precio", "Precio promedio  de compra"]]

df.columns = df.columns.droplevel(0)

# Me quedo con la primera palabra de la columna Activo
df['Activo'] = df['Activo'].str.split()
df['Ticket'] = df['Activo'].str[0]

# Elimino el primer elemento de la columna Activo
df['Activo'] = df['Activo'].str[1:].str.join(' ')

columns_ars = ["Precio promedio  de compra", "Último precio"]

for column in columns_ars:
    df[column] = df[column].str.replace('$', '').str.replace('.', '').str.replace(',', '.').astype(float)

# # Cambio el nombre de la columna activo por nombre
df = df.rename(columns={
    "Activo": "Nombre",
    "Precio promedio  de compra": "PPC",
    "Último precio": "Ultimo Precio"
    })

# calculo el total multiplicando la cantidad por el ultimo precio
df['Total'] = df['Cantidad'] * (df['Ultimo Precio'] / 100)

# Le cambio el orden a las columnas de la siguiente forma Ticket,Nombre,Cantidad,Ultimo Precio,PPC,Total
df = df[['Ticket', 'Nombre', 'Cantidad', 'Ultimo Precio', 'PPC', 'Total']]

df

,Ticket,Nombre,Cantidad,Ultimo Precio,PPC,Total
0,BPY26,Bopreal Serie 3 Vto 31/05...,100,104620.0,105710.00,104620.0
1,GD35,Bonos Rep. Arg. U$S Step ...,49,60100.0,53771.84,29449.0
2,IRCFO,"On Irsa Clase Xiv 8,75% V...",76,106200.0,115728.82,80712.0
3,IRCGO,On Irsa Usd Cl.Xv V.25/03...,66,124950.0,131912.42,82467.0
4,MRCAO,On Generación Mediterráne...,114,84800.0,86220.00,96672.0
5,T2X5,Bono Tesoro $ Aj. Cer 4.2...,4705,568.0,523.38,26724.4

In [3]:
data = pd.read_html('../data/bronze/iol_portfolio_2024-09-29.html', encoding='utf-8')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])
df

                                Activo Alarmas Cantidad Activos comp.  \
                                Activo Alarmas Cantidad Activos comp.
0  BPY26  Bopreal Serie 3 Vto 31/05...     NaN      100             0
1   GD35  Bonos Rep. Arg. U$S Step ...     NaN       49             0
2  IRCFO  On Irsa Clase Xiv 8,75% V...     NaN       76             0
3  IRCGO  On Irsa Usd Cl.Xv V.25/03...     NaN       66             0
4  MRCAO  On Generación Mediterráne...     NaN      114             0
5   T2X5  Bono Tesoro $ Aj. Cer 4.2...     NaN     4705             0

  Variación  diaria   Último precio Precio promedio  de compra  \
  Variación  diaria   Último precio Precio promedio  de compra
0          -0,270 %  $  104.620,000                $105.710,00
1           0,260 %   $  60.100,000                 $53.771,84
2          -0,840 %  $  106.200,000                $115.728,82
3           0,120 %  $  124.950,000                $131.912,42
4          -0,010 %   $  84.800,000                 $86.220,00
5           0,220 %      $  568,000                    $523,38

  Rendimiento  Porcentaje | Monto                       Valorizado  \
                       Valorizado  Valorizado.1 Unnamed: 9_level_1
0                         -1,03 %  $  -1.090,00      $  104.620,00
1                         11,76 %   $  3.100,80       $  29.449,00
2                         -8,23 %  $  -7.241,90       $  80.712,00
3                         -5,27 %  $  -4.595,20       $  82.467,00
4                         -1,64 %  $  -1.618,80       $  96.672,00
5                          8,52 %   $  2.099,44       $  26.724,40


                                 Unnamed: 10_level_1
0  Comprar  Vender  Vender en BPY6C  Vender en BP...
1  Comprar  Vender  Vender en GD35C  Vender en GD...
2  Comprar  Vender  Vender en IRCFC  Vender en IR...
3  Comprar  Vender  Vender en IRCGC  Vender en IR...
4  Comprar  Vender  Vender en MRCAC  Vender en MR...
5  Comprar  Vender  Vender en T2X5C  Vender en T2...