In [1]:
import pandas as pd

In [8]:
# Read the HTML file
data = pd.read_html('../table_data.html')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])

In [9]:
df

,Unnamed: 0,Producto,Cantidad,Ultimo Precio,Var % Diaria,Var $ Diaria,PPC,Gan-Per %,Gan.-Per $,Total,Costo,Total Costo,Unnamed: 12
0,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,"ARS 867.402,50","ARS 867.402,50","ARS 867.402,50",NaN,NaN
1,NaN,AUSO * AUTOPISTA DEL SOL,4400,"ARS 2.995,00","0,34%","ARS 440,00","ARS 2.998,17","-0,11%","ARS -139,34","ARS 131.780,00",NaN,NaN,NaN
2,NaN,CEPU * CENTRAL PUERTO,5400,"ARS 1.260,00","6,33%","ARS 4.050,00","ARS 1.137,93","10,73%","ARS 6.591,75","ARS 68.040,00",NaN,NaN,NaN
3,NaN,DGCU2 * DISTRIB DE GAS CUYANA,6700,"ARS 1.415,00","2,17%","ARS 2.010,00","ARS 1.322,05","7,03%","ARS 6.227,66","ARS 94.805,00",NaN,NaN,NaN
4,NaN,FIPL * FIPLASTO,28500,"ARS 321,50","5,41%","ARS 4.702,50","ARS 327,63","-1,87%","ARS -1.745,74","ARS 91.627,50",NaN,NaN,NaN
5,NaN,GGAL * GRUPO FINANCIERO GALICIA,2100,"ARS 5.410,00","4,64%","ARS 5.040,00","ARS 4.113,67","31,51%","ARS 27.222,95","ARS 113.610,00",NaN,NaN,NaN
6,NaN,MIRG * MIRGOR,400,"ARS 21.375,00","1,30%","ARS 1.100,00","ARS 18.976,00","12,64%","ARS 9.595,99","ARS 85.500,00",NaN,NaN,NaN
7,NaN,PAMP * PAMPA ENERGIA,3200,"ARS 2.935,00","2,98%","ARS 2.720,00","ARS 2.613,21","12,31%","ARS 10.297,23","ARS 93.920,00",NaN,NaN,NaN
8,NaN,TECO2 * TELECOM ARGENTINA,4800,"ARS 2.020,00","4,66%","ARS 4.320,00","ARS 1.792,49","12,69%","ARS 10.920,38","ARS 96.960,00",NaN,NaN,NaN
9,NaN,TRAN * TRANSENER,5300,"ARS 1.720,00","4,24%","ARS 3.710,00","ARS 1.807,60","-4,85%","ARS -4.642,64","ARS 91.160,00",NaN,NaN,NaN
10,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,"ARS 80.700,00","ARS 80.700,00","ARS 80.700,00",NaN,NaN
11,NaN,PAAS * CEDEAR PAN AMERICAN SILVER CORP,1000,"ARS 8.070,00","2,93%","ARS 2.300,00","ARS 10.422,64","-22,57%","ARS -23.526,36","ARS 80.700,00",NaN,NaN,NaN
12,Total Var. $,Total Var. $,Total Var. $,Total Var. $,NaN,"ARS 30.392,50",NaN,NaN,"ARS 40.801,88",NaN,NaN,NaN,NaN