In [1]:
import pandas as pd

In [2]:
# Read the HTML file
data = pd.read_html('../data/bullma_portfolio_2024-09-13.html')
# Convert the data to a DataFrame
df = pd.DataFrame(data[0])

In [3]:
df

,Unnamed: 0,Producto,Cantidad,Ultimo Precio,Var % Diaria,Var $ Diaria,PPC,Gan-Per %,Gan.-Per $,Total,Costo,Total Costo,Unnamed: 12
0,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,Acciones,"ARS 1.265.575,00","ARS 1.265.575,00","ARS 1.265.575,00",NaN,NaN
1,NaN,AUSO * AUTOPISTA DEL SOL,7000,"ARS 3.000,00","-0,50%","ARS -1.050,00","ARS 3.011,85","-0,39%","ARS -829,34","ARS 210.000,00",NaN,NaN,NaN
2,NaN,CEPU * CENTRAL PUERTO,5900,"ARS 1.300,00","2,36%","ARS 1.770,00","ARS 1.149,12","13,13%","ARS 8.901,75","ARS 76.700,00",NaN,NaN,NaN
3,NaN,DGCU2 * DISTRIB DE GAS CUYANA,10200,"ARS 1.395,00","-1,76%","ARS -2.550,00","ARS 1.352,23","3,16%","ARS 4.362,66","ARS 142.290,00",NaN,NaN,NaN
4,NaN,FIPL * FIPLASTO,43500,"ARS 328,00","1,86%","ARS 2.610,00","ARS 326,72","0,39%","ARS 556,76","ARS 142.680,00",NaN,NaN,NaN
5,NaN,GGAL * GRUPO FINANCIERO GALICIA,2800,"ARS 5.630,00","3,30%","ARS 5.040,00","ARS 4.475,25","25,80%","ARS 32.332,95","ARS 157.640,00",NaN,NaN,NaN
6,NaN,MIRG * MIRGOR,700,"ARS 21.450,00","0,23%","ARS 350,00","ARS 20.036,29","7,06%","ARS 9.895,99","ARS 150.150,00",NaN,NaN,NaN
7,NaN,PAMP * PAMPA ENERGIA,4900,"ARS 2.970,00","0,17%","ARS 245,00","ARS 2.730,06","8,79%","ARS 11.757,23","ARS 145.530,00",NaN,NaN,NaN
8,NaN,TECO2 * TELECOM ARGENTINA,7100,"ARS 2.015,00","-0,25%","ARS -355,00","ARS 1.867,81","7,88%","ARS 10.450,38","ARS 143.065,00",NaN,NaN,NaN
9,NaN,TRAN * TRANSENER,5300,"ARS 1.840,00","2,79%","ARS 2.650,00","ARS 1.807,60","1,79%","ARS 1.717,36","ARS 97.520,00",NaN,NaN,NaN
10,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,Cedears,"ARS 150.450,00","ARS 150.450,00","ARS 150.450,00",NaN,NaN
11,NaN,PAAS * CEDEAR PAN AMERICAN SILVER CORP,1700,"ARS 8.850,00","2,43%","ARS 3.570,00","ARS 9.775,08","-9,46%","ARS -15.726,36","ARS 150.450,00",NaN,NaN,NaN
12,Total Var. $,Total Var. $,Total Var. $,Total Var. $,NaN,"ARS 12.280,00",NaN,NaN,"ARS 63.419,38",NaN,NaN,NaN,NaN